<div class="card horizontal">
    <div class="card-image">
        {{#if story.cover}}
            <a href="/read/{{story.id}}"><img src="/covers/{{story.id}}"></a>
        {{/if}}
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <a href="/read/{{story.id}}">{{story.title}}</a>
        </div>
        <div class="card-content">
            <div>
                Author: <a href="/user/{{story.username}}">{{story.username}}</a>
            </div>
            <div class="story-brief">
                {{#if story.brief}}
                    {{story.brief}}
                {{else}}
                    No description written.
                {{/if}}
            </div>
            Rating: {{story.rating}}
        </div>
    </div>
</div>