<div class="card horizontal">
    <div class="card-image">
        {{#if story.cover}}
            <img src="/covers/{{story.id}}">
        {{/if}}
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <a href="/read/{{story.id}}">{{story.title}}</a>
        </div>
        <div class="card-content">
            <div>
                Author: <a href="/user/{{story.username}}">{{story.username}}</a>
            </div>
            {{#if story.brief}}
                {{story.brief}}
            {{else}}
                No description written.
            {{/if}}
            <br>
            Rating: {{story.rating}}
        </div>
    </div>
</div>