{{!This is the page where a user can read a story}}

{{#if story}}
<script src="/scripts.js"></script>
<center>
    <h2>{{story.title}}</h2>
    <h4>by <a href="/user/{{story.username}}">{{story.username}}</a></h4>
    Written {{story.created}}
    {{#if story.cover}}
    <div><img class="readcover" src="/covers/{{story.id}}"></div>
    {{/if}}
</center>
<div class="divider"></div>
<div class="section">
    {{story.content}}
</div>
<div class="divider"></div>
{{#if username}} {{! Users can rate stories only if logged in. }}
    Rate this story:
    <span class="rating" id="rate1" onclick="rateStory({{story.id}},1)">&#9734;</span>
    <span class="rating" id="rate2" onclick="rateStory({{story.id}},2)">&#9734;</span>
    <span class="rating" id="rate3" onclick="rateStory({{story.id}},3)">&#9734;</span>
    <span class="rating" id="rate4" onclick="rateStory({{story.id}},4)">&#9734;</span>
    <span class="rating" id="rate5" onclick="rateStory({{story.id}},5)">&#9734;</span>
    <div>Current Rating: <span id="currentRating">{{story.rating}}</span></div>
    <script>showUserRating({{story.yourRating}});</script>

    <div class="section">
        <form method="post" action="/read/{{story.id}}/comment">
            <textarea class="materialize-textarea" name="comment" required placeholder="Leave a comment here!" type="text" maxlength="512"></textarea>
            <button class="btn light-green">Leave Comment</button>
        </form>
    </div>
{{/if}}

{{#if comments}}
<div class="section comments">
    {{#each comments}}
        {{>commentBox username=this.username comment=this.comment created=this.created}}
    {{/each}}
</div>
{{else}}
    {{#if username}}
        This story has no comments. Be the first to leave one!
    {{else}}
        This story has no comments. <a href="/login">Log in</a> to leave one!
    {{/if}}
{{/if}}
{{else}}
<div class="section">
    <center>
        <h1>Story Not Found!</h1>
        Sorry, but there is no story with the id from this link. It may have been deleted.
    </center>
</div>
{{/if}}