{{!This is the page where a user can read a story}}

{{#if story}}
<script src="/scripts.js"></script>
<center>
    <h2>{{story.title}}</h2>
    <h4>by {{story.username}}</h4>
    Written {{story.created}}
</center>
<div class="divider"></div>
<div class="section">
    {{story.content}}
</div>
<div class="divider"></div>
{{#if username}} {{! Users can rate stories only if logged in. }}
    Rate this story:
    <span class="rating" id="rate1" onclick="rateStory({{story.id}},1)">&#9734;</span>
    <span class="rating" id="rate2" onclick="rateStory({{story.id}},2)">&#9734;</span>
    <span class="rating" id="rate3" onclick="rateStory({{story.id}},3)">&#9734;</span>
    <span class="rating" id="rate4" onclick="rateStory({{story.id}},4)">&#9734;</span>
    <span class="rating" id="rate5" onclick="rateStory({{story.id}},5)">&#9734;</span>
    <div>Current Rating: <span id="currentRating">{{story.rating}}</span></div>
    <script>showUserRating({{story.yourRating}});</script>
{{/if}}
{{else}}
<div class="section">
    <center>
        <h1>Story Not Found!</h1>
        Sorry, but there is no story with the id from this link. It may have been deleted.
    </center>
</div>
{{/if}}